<div cdkDropListGroup>
  <mat-card
    class="example-container"
    *ngFor="let list of jobLists; let i = index"
  >
    <h2 class="list-title">
      {{ list.name }}({{ list.jobs.length }})
      <mat-icon
        class="icon-delete"
        aria-hidden="false"
        aria-label="Delete"
        color="warn"
        >delete
      </mat-icon>
    </h2>

    <div
      cdkDropList
      [cdkDropListData]="list.jobs"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of list.jobs; let j = index"
        cdkDrag
        [cdkDragData]="item"
      >
        {{ item }}
        <button class="example-box">
          <mat-icon
            class="icon-delete"
            aria-hidden="false"
            aria-label="Delete"
            color="warn"
            >delete
          </mat-icon>
        </button>

        <div class="custom-placeholder" *cdkDragPlaceholder></div>
      </div>
    </div>
    <app-add-new placeholder="New Job" [index]="i" (onAddNew)="addNewJob($event)"></app-add-new>
  </mat-card>
</div>
