<div cdkDropListGroup>
  <mat-card
    class="example-container"
    *ngFor="let list of jobLists; let i = index"
  >
    <h2>
      {{ list.name }}({{ list.jobs.length }})
      <button
        class="example-box"
        style="font-size: 14px; padding: 0; margin: 0; display: contents"
        type="button"
        (click)="removeListJob(i)"
      >
        <mat-icon
          class="icon-delete"
          aria-hidden="false"
          aria-label="Delete"
          color="warn"
          >delete
        </mat-icon>
      </button>
    </h2>

    <div
      cdkDropList
      [cdkDropListData]="list.jobs"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of list.jobs; let j = index"
        cdkDrag
        [cdkDragData]="item"
      >
        {{ item }}
        <button class="example-box" type="button" (click)="removeJob(i, j)">
          <mat-icon
            class="icon-delete"
            aria-hidden="false"
            aria-label="Delete"
            color="warn"
            >delete
          </mat-icon>
        </button>

        <div class="custom-placeholder" *cdkDragPlaceholder></div>
      </div>
    </div>
    <app-add-new
      placeholder="New Job"
      [index]="i"
      (onAddNew)="addNewJob($event)"
    ></app-add-new>
  </mat-card>
</div>
